body {
    background:rgb(30,30,30);
    color: lightgray;
}

.announcement {
    width: 40%;
    margin: 10px auto;
    background: rgba(200,10,10,.25);
    border: 3px solid darkred;
    border-radius: 10px;
    text-align: right;
}

.center {
    text-align: center;
}

p {
    margin: 16px 20%;
}

.indent {
    text-indent: 30px; 
}